<!DOCTYPE html>
<html>
<head><title>Poem Maker Pro</title>
<link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
<link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
<link href='{{ static_url("css/basic.css") }}' rel="stylesheet">

</head>
<body>
<h1 class="">Enter terms below. - {{ UN}}</h1>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
       <a href="/category" class="btn btn-lg btn-warning" > س مدیریت گروه های خبری </a>
    </div>
</div>
<script src="{{static_url('js/jquery.js')}}"></script>
</body>
</html>